In [1]:
import pandas as pd

In [11]:
c1_structs = pd.read_csv("c1_possible_structs.csv")

c1_structs[c1_structs["x"] == c1_structs["x"].max()]

        x  y   z                                dot_brac
284543  4  0  13  (((...)(...))((...)(...))((...)(...)))

In [12]:
c1_structs[c1_structs["z"] == c1_structs["z"].max()]

        x  y   z                                dot_brac
284543  4  0  13  (((...)(...))((...)(...))((...)(...)))

In [13]:
c1_structs["x"].max()

4

In [69]:
c2_structs = pd.read_csv("c2_possible_structs.csv")
c2_structs["zt"] = c2_structs["z"] - 3*c2_structs["x"]

c2_structs[c2_structs["z"] == c2_structs["z"].max()]

         x  y   z                                        dot_brac  zt
2359452  3  0  13  (((...)(...)(...)(...))((...)(...)(...)(...)))   4

In [71]:
c2_structs[(c2_structs["x"] == c2_structs["x"].max()) & (c2_structs["z"] == c2_structs["z"].max())]

Empty DataFrame
Columns: [x, y, z, dot_brac, zt]
Index: []